* {
  width: 100%;
  text-align: center;
}

.article-header-image {
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.metadata-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}