<mat-toolbar color="primary">
  <button mat-flat-button color="primary" [routerLink]="['/']">
    EIT-Newspaper
  </button>

  <!-- <span class="example-fill-remaining-space"></span>

  <input id="big-screen" class="search" placeholder="Search..." /> -->

  <span class="example-fill-remaining-space small-screen"></span>

  <h1 id="name" *ngIf="isLogged">Hi, Niki</h1>

  <button mat-icon-button [routerLink]="['/articles/create']" *ngIf="isLogged">
    <mat-icon aria-label="add icon" fontIcon="add"></mat-icon>
  </button>

  <button mat-icon-button *ngIf="isLogged" (click)="logout()">
    <mat-icon aria-label="logout icon" fontIcon="logout"></mat-icon>
  </button>

  <button mat-icon-button [routerLink]="['/login']" *ngIf="!isLogged">
    <mat-icon
      aria-hidden="false"
      aria-label="login icon"
      fontIcon="login"
      [ariaSetSize]="50"
    ></mat-icon>
  </button>
</mat-toolbar>

<!-- <div id="small-screen">
  <input class="search" placeholder="Search..." />
</div> -->
